*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: orangered;
    color: white;
    text-align: center;
    padding-top: 10px;
}

#mainContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    position: relative;
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#container i{
    position: absolute;
    font-size: 70px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease 0.3s;
    opacity: 0;
}